@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=M+PLUS+Rounded+1c:wght@400;700&family=Poppins&display=swap");

:root {
  --primary-color: rgb(52, 139, 238);
  --primary-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 3rem;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  color: var(--primary-color);
}

h1 span {
  display: inline-block;
  transform: rotate(180deg);
}

nav a {
  text-decoration: none;
  font-family: var(--primary-font);
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 25px;
  color: var(--primary-color);
  background-color: rgb(235, 239, 245);
  transition: all 0.5s ease-in-out;
}

nav a:hover {
  color: rgb(255, 255, 255);
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 3rem;
}

aside {
  --tw-text-opacity: 1;

  color: rgb(255 255 255 / var(--tw-text-opacity));
  padding: 1rem;
  background: var(--primary-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  font-family: sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

h2 span,
.feedback h4,
.thank_you p a {
  --tw-text-opacity: 1;

  color: rgb(255 159 26 / var(--tw-text-opacity));
}

p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
}

.feedback h4 {
  text-align: center;
}

.thank_you {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 15px;
  padding: 0 1rem;
}

.thank_you h1 {
  font-size: 1.7em;
  font-weight: 500;
}

.extra_feedback {
  text-align: center;
  font-size: 1.3em;
}

.thank_you p a {
  text-decoration: none;
}

#results {
  padding: 1rem;
  background: #eee;
  border-radius: 12px;
  color: #8b8888;
  font-size: 1.1em;
  font-family: var(--primary-font);
}

@media (min-width: 768px) {
  h1 {
    margin-left: 6rem;
  }

  nav a {
    margin-right: 6rem;
  }

  main {
    padding: 1rem 8rem 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .feedback h4 {
    font-size: 2rem;
  }

  .thank_you h1 {
    font-size: 2.5em;
    font-weight: 600;
    margin-left: 0;
  }
}
